## Preprocessing

In [5]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head(10)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [7]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts().loc[application_df['APPLICATION_TYPE']].value_counts()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
classification_value_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
greater_than_1 = classification_value_counts.loc[classification_value_counts > 1]
greater_than_1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = greater_than_1.loc[greater_than_1 <= 287].keys()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1458
C7000      777
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C6100        1
C2600        1
C1248        1
C1580        1
C1820        1
C1900        1
C2570        1
C1283        1
C3700        1
C2500        1
C1570        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: count, dtype: int64

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_application_df = pd.get_dummies(application_df[['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE',	'ORGANIZATION',	'INCOME_AMT','SPECIAL_CONSIDERATIONS']])
columns = application_df[['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']]
concat_df = pd.concat([dummy_application_df, columns], axis=1)
concat_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,1,5000,1
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,1,108590,1
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,1,5000,0
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,1,6692,1
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,1,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,1,5000,0
34295,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,1,5000,0
34296,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,1,5000,0
34297,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,1,5000,1
34298,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,False,1,36500179,0

In [39]:
# Split our preprocessed data into our features and target arrays
y = concat_df['IS_SUCCESSFUL']
x = concat_df.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state = 1, stratify = y)

In [40]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)

# Scale the data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

#I was getting errors, and blackbox said these lines would help ğŸ¤·
x_test_scaled = x_test_scaled.reshape(-1, 78)

print(x_train_scaled.shape)
print(y_train.shape)

(25724, 78)
(25724,)

## Compile, Train and Evaluate the Model

In [41]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=78))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

c:\Users\Grayson\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_4"

â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”“
â”ƒ Layer (type)                    â”ƒ Output Shape           â”ƒ       Param # â”ƒ
â”¡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”©
â”‚ dense_12 (Dense)                â”‚ (None, 80)             â”‚         6,320 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_13 (Dense)                â”‚ (None, 30)             â”‚         2,430 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_14 (Dense)                â”‚ (None, 1)              â”‚            31 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

 Total params: 8,781 (34.30 KB)

 Trainable params: 8,781 (34.30 KB)

 Non-trainable params: 0 (0.00 B)

In [42]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

model_loss, model_accuracy = nn.evaluate(x_test_scaled, y_test, verbose=2)

268/268 - 0s - 877us/step - accuracy: 0.5319 - loss: 0.7285

In [43]:
# Train the model
trained_model = nn.fit(x_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 446us/step - accuracy: 0.7052 - loss: 0.5928
Epoch 2/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 443us/step - accuracy: 0.7249 - loss: 0.5581
Epoch 3/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 440us/step - accuracy: 0.7302 - loss: 0.5525
Epoch 4/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 436us/step - accuracy: 0.7324 - loss: 0.5475
Epoch 5/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 438us/step - accuracy: 0.7313 - loss: 0.5448
Epoch 6/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 440us/step - accuracy: 0.7354 - loss: 0.5469
Epoch 7/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 444us/step - accuracy: 0.7326 - loss: 0.5440
Epoch 8/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 441us/step - accuracy: 0.7354 - loss: 0.5474
Epoch 9/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 439us/step - accuracy: 0.7358 - loss: 0.5421
Epoch 10/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 439us/step - accuracy: 0.7352 - loss: 0.5406
Epoch 11/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 448us/step - accuracy: 0.7381 - loss: 0.5403
Epoch 12/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 443us/step - accuracy: 0.7328 - loss: 0.5458
Epoch 13/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 453us/step - accuracy: 0.7385 - loss: 0.5385
Epoch 14/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 449us/step - accuracy: 0.7347 - loss: 0.5414
Epoch 15/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 443us/step - accuracy: 0.7344 - loss: 0.5426
Epoch 16/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 448us/step - accuracy: 0.7334 - loss: 0.5432
Epoch 17/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 445us/step - accuracy: 0.7382 - loss: 0.5386
Epoch 18/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 447us/step - accuracy: 0.7376 - loss: 0.5390
Epoch 19/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 436us/step - accuracy: 0.7335 - loss: 0.5419
Epoch 20/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 438us/step - accuracy: 0.7353 - loss: 0.5383
Epoch 21/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 442us/step - accuracy: 0.7391 - loss: 0.5363
Epoch 22/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 436us/step - accuracy: 0.7359 - loss: 0.5433
Epoch 23/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 443us/step - accuracy: 0.7396 - loss: 0.5358
Epoch 24/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 442us/step - accuracy: 0.7362 - loss: 0.5399
Epoch 25/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 436us/step - accuracy: 0.7292 - loss: 0.5440
Epoch 26/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 440us/step - accuracy: 0.7362 - loss: 0.5430
Epoch 27/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 438us/step - accuracy: 0.7332 - loss: 0.5412
Epoch 28/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 435us/step - accuracy: 0.7364 - loss: 0.5375
Epoch 29/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 436us/step - accuracy: 0.7387 - loss: 0.5372
Epoch 30/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 438us/step - accuracy: 0.7382 - loss: 0.5361
Epoch 31/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 437us/step - accuracy: 0.7380 - loss: 0.5359
Epoch 32/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 432us/step - accuracy: 0.7396 - loss: 0.5357
Epoch 33/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 445us/step - accuracy: 0.7351 - loss: 0.5395
Epoch 34/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 437us/step - accuracy: 0.7390 - loss: 0.5408
Epoch 35/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 439us/step - accuracy: 0.7375 - loss: 0.5344
Epoch 36/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 436us/step - accuracy: 0.7346 - loss: 0.5392
Epoch 37/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 436us/step - accuracy: 0.7419 - loss: 0.5319
Epoch 38/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 436us/step - accuracy: 0.7425 - loss: 0.5320
Epoch 39/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 435us/step - accuracy: 0.7403 - loss: 0.5344
Epoch 40/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 438us/step - accuracy: 0.7378 - loss: 0.5354
Epoch 41/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 431us/step - accuracy: 0.7392 - loss: 0.5341
Epoch 42/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 442us/step - accuracy: 0.7406 - loss: 0.5306
Epoch 43/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 445us/step - accuracy: 0.7374 - loss: 0.5378
Epoch 44/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 445us/step - accuracy: 0.7331 - loss: 0.5391
Epoch 45/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 450us/step - accuracy: 0.7395 - loss: 0.5363
Epoch 46/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 447us/step - accuracy: 0.7475 - loss: 0.5294
Epoch 47/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 444us/step - accuracy: 0.7366 - loss: 0.5383
Epoch 48/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 443us/step - accuracy: 0.7400 - loss: 0.5343
Epoch 49/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 442us/step - accuracy: 0.7353 - loss: 0.5421
Epoch 50/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 445us/step - accuracy: 0.7400 - loss: 0.5340
Epoch 51/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 437us/step - accuracy: 0.7370 - loss: 0.5376
Epoch 52/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 433us/step - accuracy: 0.7430 - loss: 0.5283
Epoch 53/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 437us/step - accuracy: 0.7392 - loss: 0.5341
Epoch 54/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 439us/step - accuracy: 0.7418 - loss: 0.5290
Epoch 55/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 433us/step - accuracy: 0.7373 - loss: 0.5351
Epoch 56/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 440us/step - accuracy: 0.7421 - loss: 0.5321
Epoch 57/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 444us/step - accuracy: 0.7363 - loss: 0.5370
Epoch 58/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 443us/step - accuracy: 0.7360 - loss: 0.5354
Epoch 59/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 442us/step - accuracy: 0.7393 - loss: 0.5341
Epoch 60/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 434us/step - accuracy: 0.7412 - loss: 0.5335
Epoch 61/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 440us/step - accuracy: 0.7397 - loss: 0.5326
Epoch 62/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 437us/step - accuracy: 0.7355 - loss: 0.5386
Epoch 63/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 434us/step - accuracy: 0.7435 - loss: 0.5331
Epoch 64/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 432us/step - accuracy: 0.7443 - loss: 0.5292
Epoch 65/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 432us/step - accuracy: 0.7388 - loss: 0.5331
Epoch 66/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 430us/step - accuracy: 0.7397 - loss: 0.5324
Epoch 67/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 434us/step - accuracy: 0.7462 - loss: 0.5272
Epoch 68/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 432us/step - accuracy: 0.7390 - loss: 0.5316
Epoch 69/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 434us/step - accuracy: 0.7369 - loss: 0.5361
Epoch 70/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 438us/step - accuracy: 0.7446 - loss: 0.5303
Epoch 71/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 439us/step - accuracy: 0.7372 - loss: 0.5324
Epoch 72/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 435us/step - accuracy: 0.7387 - loss: 0.5346
Epoch 73/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 437us/step - accuracy: 0.7359 - loss: 0.5347
Epoch 74/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 433us/step - accuracy: 0.7434 - loss: 0.5291
Epoch 75/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 432us/step - accuracy: 0.7388 - loss: 0.5338
Epoch 76/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 435us/step - accuracy: 0.7406 - loss: 0.5343
Epoch 77/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 437us/step - accuracy: 0.7418 - loss: 0.5305
Epoch 78/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 435us/step - accuracy: 0.7376 - loss: 0.5344
Epoch 79/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 435us/step - accuracy: 0.7365 - loss: 0.5368
Epoch 80/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 435us/step - accuracy: 0.7374 - loss: 0.5340
Epoch 81/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 435us/step - accuracy: 0.7388 - loss: 0.5377
Epoch 82/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 436us/step - accuracy: 0.7429 - loss: 0.5306
Epoch 83/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 432us/step - accuracy: 0.7417 - loss: 0.5300
Epoch 84/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 440us/step - accuracy: 0.7383 - loss: 0.5340
Epoch 85/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 431us/step - accuracy: 0.7375 - loss: 0.5356
Epoch 86/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 438us/step - accuracy: 0.7421 - loss: 0.5312
Epoch 87/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 436us/step - accuracy: 0.7366 - loss: 0.5380
Epoch 88/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 435us/step - accuracy: 0.7429 - loss: 0.5281
Epoch 89/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 433us/step - accuracy: 0.7358 - loss: 0.5361
Epoch 90/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 431us/step - accuracy: 0.7378 - loss: 0.5336
Epoch 91/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 434us/step - accuracy: 0.7407 - loss: 0.5327
Epoch 92/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 433us/step - accuracy: 0.7400 - loss: 0.5323
Epoch 93/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 440us/step - accuracy: 0.7365 - loss: 0.5335
Epoch 94/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 435us/step - accuracy: 0.7420 - loss: 0.5295
Epoch 95/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 434us/step - accuracy: 0.7382 - loss: 0.5343
Epoch 96/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 432us/step - accuracy: 0.7435 - loss: 0.5277
Epoch 97/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 433us/step - accuracy: 0.7431 - loss: 0.5281
Epoch 98/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 434us/step - accuracy: 0.7410 - loss: 0.5321
Epoch 99/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 427us/step - accuracy: 0.7481 - loss: 0.5245
Epoch 100/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 431us/step - accuracy: 0.7409 - loss: 0.5288

In [44]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(x_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 378us/step - accuracy: 0.7301 - loss: 0.5570
Loss: 0.5570396780967712, Accuracy: 0.7301457524299622

In [45]:
# Export our model to HDF5 file
nn.save('neural_network.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.